@{
    ViewData["Title"] = "Inicio";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>
        </nav>
    </div>
</div>

<div class="main">

    <div class="main-content bg_inico">

        <div class="container-fluid">
            <div class="formsRequestNet">
                <div class="titleForm">
                    <h2>Bienvenidos a</h2>
                    <img src="/images/logoWhiteRN.png">
                </div>
            </div>
        </div>
    </div>
</div>
