@{
    ViewData["Title"] = "Inicio";
}

    <div class="inicio">

        <img src="/images/logoWhiteRN.png" /><br />

       <ul>
            <li><a href="" class="active">Inicio</a></li>
            <li><a href="https://localhost:5001/Inventario">Inventario</a></li>
            <li><a href="https://localhost:5001/Caso">Novedades</a></li>
            <li><a href="https://localhost:5001/Usuario">Usuarios</a></li>
        </ul>
    </div>
