@{
    ViewData["Title"] = "Inicio";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="dashboard.jsp" class=""><i class="lnr lnr-home"></i> <span>Escritorio</span></a></li>
                <li><a href="inventario.xhtml" class="active"><i class="lnr lnr-file-empty"></i> <span>Inventario</span></a></li>
                <li><a href="novedades.xhtml" class=""><i class="lnr lnr lnr-layers"></i> <span>Novedades</span></a></li>
                <li><a href="proveedores.xhtml" class=""><i class="lnr lnr-cog"></i> <span>Proveedores</span></a></li>
                <li><a href="usuarios.xhtml" class=""><i class="lnr lnr-users"></i> <span>Usuarios</span></a></li>
                <li><a href="consultar-datos.jsp" class=""><i class="lnr lnr-license"></i> <span>Cons. Datos</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="main">

    

</div>