@model Requestnet.Core.Domain.InventarioEquipos

@{
    ViewData["Title"] = "Create";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">
            <h3 class="panel-title">Crear Inventario</h3>

            <div class="mb-4">
                <a class="btnVolver" asp-action="Index">Volver</a>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdEstadoeq" class="control-label">Estado del equipo</label>
                                <select asp-for="IdEstadoeq" class="form-control" asp-items="ViewBag.IdEstadoeq"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Serial" class="control-label">Serial</label>
                                <input asp-for="Serial" class="form-control" />
                                <span asp-validation-for="Serial" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdCliente" class="control-label">Cliente</label>
                                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdTipoComponente" class="control-label">Tipo de componente</label>
                                <select asp-for="IdTipoComponente" class="form-control" asp-items="ViewBag.IdTipoComponente"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdMarca" class="control-label">Marca</label>
                                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdTipoProcedencia" class="control-label">Tipo de procedencia</label>
                                <select asp-for="IdTipoProcedencia" class="form-control" asp-items="ViewBag.IdTipoProcedencia"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdJefe" class="control-label">Jefe</label>
                                <select asp-for="IdJefe" class="form-control" asp-items="ViewBag.IdJefe"></select>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label asp-for="IdLider" class="control-label">Líder</label>
                                <select asp-for="IdLider" class="form-control" asp-items="ViewBag.IdLider"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Crear" class="btnCrear" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
