/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

h1 {
    color: #fff;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
a:hover {
    text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

ul.menuDetalles {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menuDetalles li {
    display: inline-block;
}

a.btnCrear,
.btnCrear {
    background: #5cb85c;
    border: 2px solid #5cb85c;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 5px;
    text-transform: uppercase;
}
a.btnCrear:hover,
.btnCrear:hover {
    background: transparent;
    border: 2px solid #5cb85c;
    color: #5cb85c;
}
a.btnVer {
    background: #01aaff;
    border: 2px solid #01aaff;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 0;
    text-transform: inherit;
}
a.btnVer:hover {
    background: transparent;
    border: 2px solid #01aaff;
    color: #01aaff;
}
a.btnEditar {
    background: #f0ad4e;
    border: 2px solid #f0ad4e;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 0;
    text-transform: inherit;
}
a.btnEditar:hover {
    background: transparent;
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}
a.btnBorrar,
.btnBorrar {
    background: #F9354C;
    border: 2px solid #F9354C;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 10px;
    text-transform: inherit;
}
a.btnBorrar:hover,
.btnBorrar:hover {
    background: transparent;
    border: 2px solid #F9354C;
    color: #F9354C;
}
.btnBorrar {
    font-size: 14px;
}
a.btnVolver {
    background: #253772;
    border: 2px solid #253772;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    text-transform: inherit;
}
a.btnVolver:hover {
    background: transparent;
    border: 2px solid #222d38;
    color: #222d38;
}
a.btnEditarContent {
    background: #f0ad4e;
    border: 2px solid #f0ad4e;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 0;
    text-transform: inherit;
}
a.btnEditarContent:hover {
    background: transparent;
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #F3F5F8;
    margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.inicio {
    display: block;
    text-align: center;
}
.inicio ul {
    display: block;
}
.inicio ul li {
    display: inline-block;
    margin: 0 10px;
}
.inicio ul li a {
    background: #243672;
    line-height: 40px;
    display: block;
    color: #FFF;
    padding: 10px 20px;
    text-decoration:none;
}
.inicio ul li a:hover {
    background: #252c35;
    color: #00AAFF;
}

.inicio img {
    margin: 50px;
}

table {
    background: #fff;
}

#sidebar-nav {
    padding-top: 72px;
}

.sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 220px;
    height: 100%;
    float: left;
    background-color: #243672;
    position: fixed;
    left: 0;
}
.sidebar .nav > li {
    width: 100%;
}
.sidebar .nav > li > a {
    display: block;
    line-height: 40px;
    border-left: 5px solid transparent;
    color: #ffffff;
    font-weight: 400;
    padding: 18px 30px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active {
    background-color: #252c35;
    border-left-color: #00AAFF;
    color: #00AAFF;
}

.main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 220px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
    margin-top: 80px;
    padding: 10px 20px;
}
.main-content {
    padding: 28px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 30px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-nav > li > a img {
    width: 42px;
    margin-right: 5px;
}

h3.panel-title {
    color: #212c38;
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: normal;
    position: relative;
}
h3.panel-title:after {
    content: "";
    background: #212c38;
    position: absolute;
    height: 2px;
    left: 0;
    width: 100px;
    bottom: -10px;
}