@model Requestnet.Core.Domain.Orden

@{
    ViewData["Title"] = "Edit";
}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>@Html.ActionLink("Inventario", "Index", "Inventario")</li>
                <li>@Html.ActionLink("Novedades", "Index", "Caso")</li>
                <li>@Html.ActionLink("Proveedores", "Index", "Orden", new object { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            </ul>

        </nav>
    </div>
</div>

<div class="main">
    <div class="main-content">

        <div class="container-fluid">

            <h3 class="panel-title">Editar orden</h3>

            <div class="mb-4">
                <a class="btnVolver" asp-action="Index">Volver</a>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div class="form-row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdOrden" />
                            <div class="form-group col-md-6">
                                <label asp-for="Descripcion" class="control-label">Descripcion</label>
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="AdjuntarArchivo" class="control-label">Adjuntar Archivo</label>
                                <input asp-for="AdjuntarArchivo" class="form-control" />
                                <span asp-validation-for="AdjuntarArchivo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FechaAprobacion" class="control-label">Fecha Aprobacion</label>
                                <input asp-for="FechaAprobacion" class="form-control" />
                                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Solucion" class="control-label">Solución</label>
                                <input asp-for="Solucion" class="form-control" />
                                <span asp-validation-for="Solucion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FechaSolucion" class="control-label">Fecha de solucion</label>
                                <input asp-for="FechaSolucion" class="form-control" />
                                <span asp-validation-for="FechaSolucion" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Notas" class="control-label">Notas</label>
                                <input asp-for="Notas" class="form-control" />
                                <span asp-validation-for="Notas" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdProveedor" class="control-label">Proveedor</label>
                                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                                <span asp-validation-for="IdProveedor" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdLider" class="control-label">Lider</label>
                                <select asp-for="IdLider" class="form-control" asp-items="ViewBag.IdLider"></select>
                                <span asp-validation-for="IdLider" class="text-danger"></span>
                            </div>
                            <!--
    <div class="form-group col-md-6">
        <label asp-for="IdJefe" class="control-label">Jefe</label>
        <select asp-for="IdJefe" class="form-control" asp-items="ViewBag.IdJefe"></select>
        <span asp-validation-for="IdJefe" class="text-danger"></span>
    </div>
        -->
                            <div class="form-group col-md-6">
                                <label asp-for="IdTipoOrden" class="control-label">Tipo de orden</label>
                                <select asp-for="IdTipoOrden" class="form-control" asp-items="ViewBag.IdTipoOrden"></select>
                                <span asp-validation-for="IdTipoOrden" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IdEstado" class="control-label">Estado orden</label>
                                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.IdEstado"></select>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="submit" value="Guardar" class="btnCrear" />
                            </div>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
